* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
header {
    height: 80px;
    background-color: aqua;
}

nav{
    height: 100px;
    background-color: red;
}
div {
    background-color:  yellow;
    height: 200px;
}
div article  {
    background-color: royalblue;
    margin: 5px;
}
footer {
    background-attachment: aqua;
    height: 50px; 
}
aside {
    height: 60px ;
    width: 100px ;
    background-color: white;
    display: inline-block ;
    vertical-align: top;

}